@import "./variable.scss";

@font-face {
    font-family: "Soopafresh";
    src: local("Soopafresh"),
      url("../assets/font/soopafresh/soopafresh.ttf") format("truetype");
  }

header {
    width: 350px;
    height: 65px;
    margin: 20px 0;
    padding: 5px 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo-section{
        display: flex;
        align-items: center;
        gap: 10px;
        #logo-1 {
            width: 40px;
        }
    
        #title {
            font-family: Soopafresh;
            font-size: 1.5em;
            text-align: center;
            color: $color-title;
            -webkit-text-stroke: 1px #000000;
        }
    }

    #favorite-section {
        display: flex;
        gap: 10px;

        #favorite-btn {
            background-color: $color-fav-btn;
            color: black;
            border: 1px outset black;
            border-radius: 2px;
            padding: 5px 10px;
        }

        #logo-2 {
            width: 50px;
        }
    }
}

@media screen and (min-width: $min-screen) {
    header {
        width: $min-screen - 20px;
    }
}

@media screen and (min-width: $mid-screen) {
    header {
        width: $mid-screen - 20px;
    }
}

@media screen and (min-width: $max-screen) {
    header {
        width: $max-screen - 20px;
    }
}