//Size
$min-screen : 400px;
$mid-screen : 760px;
$max-screen : 1110px;

//Color
$background-color-main: #67749D;
$background-color-box: #334B5B;
$background-color-card: #3b576e;
$background-color-details: #46627a;
$background-color-h3: #527b9b;
$color-border: #1E384A;
$color-title: #73ABC3;;
$color-fav-btn: #3b576e;
