@import "./shared/variable.scss";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #67749D;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #334B5B;
    border: #1E384A solid 2px;
    border-radius: 4px;

    width: 350px;
    padding: 5px;
}

@media screen and (min-width: $mid-screen) {
    .box {
        width: 716px;
    }
}

@media screen and (min-width: $max-screen) {
    .box {
        width: 1074px;   
    }
}