@import "../../shared/variable.scss";

#details-section {
    background-color: $background-color-card;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    gap: 20px;
    

    #adress {
        font-size: 0.8em;
    }

    img {
        width: 350px;
    }

    p {
        text-align: justify;
        padding: 20px;
    }

    hr {
        border: 1.5px solid $color-border;
        width: 95%;
    }


    #menu {
        width: 100%;
        
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
        }

        #menu-content {
            display: flex;
            flex-direction: column;


            .menu-details {
                background-color: $background-color-details;
    
                width: 95%;
                margin-top: 20px;
                padding: 5px;

                display: flex;
                flex-direction: column;
                align-items: center;


                h3 {
                    background-color: $background-color-h3;

                    min-width: 50px;
                    padding: 5px;
                    margin-bottom: 5px;

                    font-size: 0.9em;
                    text-align: center;
                }
                
                ul {
                    padding-inline-start: 30px;
                    li {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $mid-screen) {
    #details-section {
        img {
            width: $mid-screen - 100px;
        }

        #menu {
            #menu-content {
                flex-direction: row;
                justify-content: space-evenly;

               .menu-details {
                    width: 30%;

                }
            }
        }
    }
}

@media screen and (min-width: $max-screen) {
    #details-section {
        img {
            width: $max-screen - 100px;
        } 
    }
}